<form {{action 'save' model on='submit'}}>
  <h2>Update your data</h2>
  {{partial "user/form"}}
  <div class="spaced">
    <button class="danger" {{action 'deleteUser'}}>delete account</button>
    <button>update</button>
  </div>
</form>
