<p style="width: 100%; text-align: right">
  Hello, {{#link-to 'user.update' class="subtle"}}{{currentUser.name}}{{/link-to}}
  <button class="subtle" {{action 'logout'}}>logout</button>
</p>
<div class="todos">
  {{render "todo/create" todo}}
  <br />
  {{render "todo/index" model}}
</div>
