{{#link-to 'index'}}back{{/link-to}}

<form {{action 'login' on='submit'}}>
  {{input type="text" placeholder="login" value=user.login}}
  {{input type="password" placeholder="password" value=user.password}}
  <button>login</button>
</form>
